.quarter-container {
   position: relative;
   display: flex;
   flex: 1;
   padding: 0 2em;
   overflow: auto;
   border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.quarter {
   position: relative;
   display: flex;
   flex-direction: column;
   flex: 1;
}

.quarter-head {
   text-align: center;
}

.quarter-season {
   font-size: 1em;
   font-weight: normal;
   margin: 0.5em auto;
}

.quarter-units {
   font-size: 0.9em;
   font-weight: normal;
   color: rgba(0, 0, 0, 0.5);
   margin: 0.5em auto;
}
