.quarter-container {
   position: relative;
   display: flex;
   flex: 1;
   padding: 0.5em 2em 0 2em;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
}

.quarter {
   position: relative;
}

.quarter-head {
   font-family: -apple-system, BlinkMacSystemFont, sans-serif;
   display: flex;
   height: 1em;
   align-items: center;
   justify-content: space-between;
}

.quarter-season {
   font-size: 1em;
   margin: 0 0.6em;
   color: #4F4F4F;
}

.quarter-units {
   font-size: 0.9em;
   font-weight: normal;
   color: rgba(0, 0, 0, 0.5);
   margin: 0 0.75em;
}
