.nav-button {
   display: flex;
   margin-left: 1em;
   animation: buttonSlideIn 0.35s;
   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
   cursor: pointer;
   transition: all 0.1s ease;

   &.in-form {
      margin: 0;
      border-bottom: none;
      animation: none;

      &:hover {
         background: white;
      }
   }

   &:hover {
      background: rgba(0,0,0,0.05);
   }

   h3 {
      font-weight: normal;
   }
}

.left-container, .right-container {
   display: flex;
   align-items: center;
}

.left-container {
   flex: 1;
}

.right-container {
   padding-right: 1em;
}

.button {
	background: dodgerblue;
  	color: white;
   height: 2.5em;
   line-height: 2.5em;
   text-align: center;
   font-size: 0.875em;
   font-weight: regular;
   border-radius: 4px;
   cursor: pointer;
   transition: all 0.15s ease-in-out;
}

@keyframes buttonSlideIn {
   0% {
      opacity: 0;
      transform: translateX(10%);
   }
}
