$duration: 0.35s;
.sidebar {
   z-index: 100;
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 0;
   bottom: 0;
   left: 0;
   width: 20em;
   background: white;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
   animation: sidebarOpen $duration;
}

.background-cover {
   z-index: 99;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0,0,0,0.3);
   animation: fadeIn $duration;
}

.sidebar-nav-container {
   display: flex;
   align-items: center;
   height: 4em;
   padding-left: 1em;

   h3 {
      margin: 0.5em;
   }

   svg {
      cursor: pointer;
      width: 2.5em;
      height: auto;
      margin-right: 0.5em;
   }

   .back-icon {
      animation: slideInLeft 0.25s;
   }

   .menu-icon {
      animation: slideNewView 0.35s;
   }
}

.sidebar-view-container {
   flex: 1;
   overflow: auto;
}

.sidebar-header {
   padding-left: 0.8em;
}

.sidebar-view {
   display: flex;
   flex-direction: column;
   animation: slideNewView $duration;

   &.slide-in-left {
      animation: slideOldView $duration;
   }
}


@keyframes fadeIn {
   0% {
      opacity: 0;
   }
}

@keyframes sidebarOpen {
   0% {
      opacity: 0;
      transform: translateX(-20%);
   }
}

@keyframes slideNewView {
   0% {
      opacity: 0;
      transform: translateX(10%);
   }
}

@keyframes slideOldView {
   0% {
      opacity: 0;
      transform: translateX(-10%);
   }
}


@keyframes slideLastView {
   0% {
      transform: translateX(-10%);
   }
}
