$duration: 0.20s;
$sidebarDuration: 0.3s;

.sidebar {
   font-family: helvetica;
   z-index: 100;
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 0;
   bottom: 0;
   left: 0;
   width: 20em;
   background: white;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
   animation: sidebarOpen $sidebarDuration;

   &.closing {
      animation: sidebarClose $sidebarDuration;
   }
}

.background-cover {
   z-index: 99;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0,0,0,0.3);
   animation: fadeIn $sidebarDuration;

   &.cover-closing {
      animation: fadeOut $sidebarDuration;
   }
}

.sidebar-nav-container {
   display: flex;
   align-items: center;
   height: 4em;
   background: #FAFAFA;
   border-bottom: 1px solid #DDDDDD;

   h3 {
      margin: 0.5em;
   }

   .sidebar-nav-icon {
      width: 2em;
      stroke-width: 1.5;
      height: auto;
      cursor: pointer;
      margin-right: 0.5em;
      color: #428bd2;
   }

   .back-icon {
      stroke-width: 2;
      margin-left: 0.5em;
      color: #3C3C3C;
      animation: slideInLeft 0.15s;
   }

   .menu-icon {
      animation: slideNewView 0.35s;
   }

   .left-nav-container, .right-nav-container {
      display: flex;
      flex: 1;
      height: 100%;
      transition: all 0.15s ease-in-out;
   }

   .left-nav-container {
      justify-content: flex-start;
      padding-left: 1em;
   }

   .right-nav-container {
      justify-content: flex-end;
      padding-right: 1em;

      .sidebar-nav-icon {
         margin-left: 0.5em;
         margin-right: 0;
      }
   }

   .invisible {
      opacity: 0;
      user-select: none;
      pointer-events: none;
   }
}

.sidebar-view-container {
   flex: 1;
   overflow: auto;
}

.sidebar-header {
   font-family: "Varela Round";
   font-size: 30px;
   padding-left: 16px;
}

.sidebar-view {
   display: flex;
   flex-direction: column;
   animation: slideNewView $duration;

   &.entering-new-view {
      animation: viewFadeOutLeft $duration !important;
   }

   &.entering-old-view {
      animation: viewFadeOutRight $duration;
   }

   &.slide-in-left {
      animation: slideOldView $duration;
   }
}


@keyframes fadeIn {
   0% {
      opacity: 0;
   }
}

@keyframes fadeOut {
   100% {
      opacity: 0;
   }
}

@keyframes sidebarOpen {
   0% {
      opacity: 0;
      transform: translateX(-20%);
   }
}

@keyframes sidebarClose {
   100% {
      opacity: 0;
      transform: translateX(-20%);
   }
}

@keyframes viewFadeOutRight {
   100% {
      transform: translateX(20%);
      opacity: 0;
   }
}


@keyframes viewFadeOutLeft {
   100% {
      transform: translateX(-20%);
      opacity: 0;
   }
}

@keyframes slideNewView {
   0% {
      opacity: 0;
      transform: translateX(10%);
   }
}

@keyframes slideOldView {
   0% {
      opacity: 0;
      transform: translateX(-10%);
   }
}


@keyframes slideLastView {
   0% {
      transform: translateX(-10%);
   }
}
