.sidebar-login-view {

	.login-image-container {
      height: 5em;
      margin: 0.5em auto;
      display: flex;

      img {
         height: 2.9em;
         margin: auto;
      }
	}

   .signup-button {
      margin: 0 0 1em 0;
      padding: 0 30px;
      font-weight: normal;
      color: $blue;
      cursor: pointer;

      &:active {
         filter: brightness(0.9);
      }
   }

   .login-form, .signup-form {
      animation: fadein 0.35s;
   }

   form {
      padding: 0 30px;
   }

   .info {
      font-weight: normal;
      color: rgb(100,100,100);
      padding: 0.5em 27px;
      margin: 0;
   }

   .error-msg {
      color: red;
      font-weight: normal;
   }

   .submit-container {
      display: flex;
      align-items: center;
      margin: 1em 0;

      .container {
         margin-left: 1em;
         animation: fadein 0.15s;
      }
   }

   .submit-button {
      appearance: none;
		font-size: 1.3em;
    	height: 2em;
      margin-right: 1em;
    	border: 2px solid #2d9cdb;
      color: $blue;
    	border-radius: 8px;
    	outline: none;
    	cursor: pointer;
      transition: all 0.15s ease;

      &:active {
         background: $blue;
         color: white;
      }
   }
}
