.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   height: 4em;
   padding: 0 15px;
   background: #16AC61;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   color: white;
}

.header-container {
   flex: 1;
   text-align: center;
   display: flex;
   align-items: center;

   &.center {
      justify-content: center;

      h3 {
         animation: fadein 0.25s;
      }
   }

   &.left {
      justify-content: flex-start;
   }

   &.right {
      justify-content: flex-end;
   }
}

.menu-icon {
   width: 2.5em;
   height: auto;
   cursor: pointer;
}

.header-title {
   font-weight: normal
}
