.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   height: 4em;
   padding: 0 15px;
   background: #FAFAFA;
   border-bottom: 1px solid #DDDDDD;
   color: #3c3c3c;
}

.header-container {
   flex: 1;
   text-align: center;
   display: flex;
   align-items: center;

   &.center {
      justify-content: center;

      h3 {
         animation: fadein 0.25s;
      }
   }

   &.left {
      justify-content: flex-start;
   }

   &.right {
      justify-content: flex-end;
      color: $blue;

      h3 {
         cursor: pointer;

         &:active {
            filter: brightness(0.95);
         }
      }
   }
}

.menu-icon {
   width: 2.5em;
   height: auto;
   cursor: pointer;
}

.header-title {
   font-family: -apple-system, BlinkMacSystemFont, sans-serif;
   font-size: 24px;
   font-weight: 300;
   margin: 0;
}
