.welcome-container {
   position: fixed;
   top: 5em;
   bottom: 0;
   left: 0;
   right: 0;
	display: flex;
   justify-content: center;
   align-items: center;

   .welcome {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 20em;
      margin-bottom: 20%;
   }

   &.faded {
      img {
         filter: grayscale(1) opacity(0.6);
      }

      .welcome-title, .message {
         opacity: 0;
      }

      .message {
         animation: fadein 0.25s;
      }
   }

   img {
      transition: all $duration ease-in-out;
   }

   .welcome-title {
      animation: welcome-fade-up 2s;
      transition: all $duration ease-in-out;
   }

   .logo-container {
      position: relative;
      display: flex;
      justify-content: center;
      height: 12em;
      width: 12em;
      animation: welcome-fade-up 2s;
   }

   .logo {
      max-height: 10em;
      position: absolute;
      z-index: 1;
   }

   .logo-back-1, .logo-back-2 {
      max-height: 8em;
      position: absolute;
   }

   .logo-back-1 {
      transform: translateY(-1em) translateX(-1.5em);
      animation: logoBackOne 2s;
   }

   .logo-back-2 {
      transform: translateY(2em) translateX(1.5em);
      animation: logoBackTwo 2s;
   }

   .loading-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: fadeInDelay 1s;
      transition: all $duration ease-in-out;
   }

   .message {
      color: rgb(130, 130, 130);
   }

   @keyframes fadeInDelay {
      0% {
         opacity: 0;
      }
      80% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }

   @keyframes welcome-fade-up {
      0% {
         opacity: 0;
         transform: translateY(50%);
      }
   }

   @keyframes logoBackOne {
      from {
         transform: translateY(0) translateX(0);
      }

      100% {
         transform: translateY(-1em) translateX(-1.5em);
      }
   }

   @keyframes logoBackTwo {
      from {
         transform: translateY(0) translateX(0);
      }

      100% {
         transform: translateY(2em) translateX(1.5em);
      }
   }
}
