/** Black */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf"); }
/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf"); }
/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf"); }
/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf"); }
/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf"); }
/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf"); }
/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf"); }
/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf"); }
/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf"); }
/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/
/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf"); }
/** Bold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf"); }
/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf"); }
/** Heavy Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf"); }
/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Text-Light.otf"); }
/** Light Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf"); }
/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf"); }
/** Medium Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf"); }
/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf"); }
/** Regular Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf"); }
/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf"); }
/** Semibold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf"); }
/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf"); }
/** Ultrathin Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf"); }
/*---------------------------------------------------------------------------*
 * SF Mono
 *---------------------------------------------------------------------------*/
/** Bold */
@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  src: url("https://sf.abarba.me/SFMono-Bold.otf"); }
/** Bold Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-BoldItalic.otf"); }
/** Heavy */
@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  src: url("https://sf.abarba.me/SFMono-Heavy.otf"); }
/** Heavy Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf"); }
/** Light */
@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  src: url("https://sf.abarba.me/SFMono-Light.otf"); }
/** Light Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf"); }
/** Medium */
@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  src: url("https://sf.abarba.me/SFMono-Medium.otf"); }
/** Medium Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-MediumItalic.otf"); }
/** Regular */
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf"); }
/** Regular Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-RegularItalic.otf"); }
/** Semibold */
@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url("https://sf.abarba.me/SFMono-Semibold.otf"); }
/** Semibold Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-SemiboldItalic.otf"); }
html, body {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

.FlowChamp {
  font-family: 'Varela Round', sans-serif;
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.no-scroll {
  overflow: hidden !important; }

.support {
  background: #fDDAB6 !important; }

.general-ed {
  background: #6cff92 !important; }

.major {
  background: #FFFF99 !important; }

.concentration {
  background: #EA80FC !important; }

@keyframes fadein {
  0% {
    opacity: 0; } }
.sidebar {
  font-family: helvetica;
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20em;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
  animation: sidebarOpen 0.3s; }
  .sidebar.closing {
    animation: sidebarClose 0.3s; }

.background-cover {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s; }
  .background-cover.cover-closing {
    animation: fadeOut 0.3s; }

.sidebar-nav-container {
  display: flex;
  align-items: center;
  height: 4em;
  background: #FAFAFA;
  border-bottom: 1px solid #DDDDDD; }
  .sidebar-nav-container h3 {
    margin: 0.5em; }
  .sidebar-nav-container .sidebar-nav-icon {
    width: 2em;
    stroke-width: 1.5;
    height: auto;
    cursor: pointer;
    margin-right: 0.5em;
    color: #428bd2; }
  .sidebar-nav-container .loading-container {
    display: flex;
    align-items: center;
    padding: 0 11px; }
  .sidebar-nav-container .back-icon {
    stroke-width: 2;
    margin-left: 0.5em;
    color: #3C3C3C;
    animation: slideInLeft 0.15s; }
  .sidebar-nav-container .menu-icon {
    animation: slideNewView 0.35s; }
  .sidebar-nav-container .left-nav-container, .sidebar-nav-container .right-nav-container {
    display: flex;
    flex: 1;
    height: 100%;
    transition: all 0.15s ease-in-out; }
  .sidebar-nav-container .left-nav-container {
    justify-content: flex-start;
    padding-left: 1em; }
  .sidebar-nav-container .right-nav-container {
    justify-content: flex-end;
    padding-right: 1em; }
    .sidebar-nav-container .right-nav-container .sidebar-nav-icon {
      margin-left: 0.5em;
      margin-right: 0; }
  .sidebar-nav-container .invisible {
    opacity: 0;
    user-select: none;
    pointer-events: none; }

.sidebar-view-container {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.sidebar-header {
  font-family: "Varela Round";
  font-size: 30px;
  padding-left: 16px; }

.sidebar-view {
  display: flex;
  flex-direction: column;
  animation: slideNewView 0.2s; }
  .sidebar-view.entering-new-view {
    animation: viewFadeOutLeft 0.2s !important; }
  .sidebar-view.entering-old-view {
    animation: viewFadeOutRight 0.2s; }
  .sidebar-view.slide-in-left {
    animation: slideOldView 0.2s; }

@keyframes fadeIn {
  0% {
    opacity: 0; } }
@keyframes fadeOut {
  100% {
    opacity: 0; } }
@keyframes sidebarOpen {
  0% {
    opacity: 0;
    transform: translateX(-20%); } }
@keyframes sidebarClose {
  100% {
    opacity: 0;
    transform: translateX(-20%); } }
@keyframes viewFadeOutRight {
  100% {
    transform: translateX(20%);
    opacity: 0; } }
@keyframes viewFadeOutLeft {
  100% {
    transform: translateX(-20%);
    opacity: 0; } }
@keyframes slideNewView {
  0% {
    opacity: 0;
    transform: translateX(10%); } }
@keyframes slideOldView {
  0% {
    opacity: 0;
    transform: translateX(-10%); } }
@keyframes slideLastView {
  0% {
    transform: translateX(-10%); } }
.sidebar-main-view .sidebar-logo {
  max-height: 8em;
  max-width: 8em;
  margin: 2em auto; }
.sidebar-main-view .sidebar-subheader {
  height: 2em;
  margin: 0;
  padding-left: 1em;
  color: #646464;
  font-weight: normal;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.sidebar-main-view .new-chart-button {
  text-align: center;
  height: 2.5em;
  line-height: 2.3em;
  margin: 0;
  font-size: 2em;
  font-weight: normal;
  color: #868686;
  transition: all 0.25s ease-in-out;
  cursor: pointer; }
  .sidebar-main-view .new-chart-button:hover {
    background: rgba(0, 0, 0, 0.04);
    color: #2d9cdb; }

@keyframes slideInLeft {
  0% {
    transform: translateX(20%);
    opacity: 0; } }
.sidebar-login-view .login-image-container {
  height: 5em;
  margin: 0.5em auto;
  display: flex; }
  .sidebar-login-view .login-image-container img {
    height: 2.9em;
    margin: auto; }
.sidebar-login-view .signup-button {
  margin: 0 0 1em 0;
  padding: 0 30px;
  font-weight: normal;
  color: #2d9cdb;
  cursor: pointer; }
  .sidebar-login-view .signup-button:active {
    filter: brightness(0.9); }
.sidebar-login-view .login-form, .sidebar-login-view .signup-form {
  animation: fadein 0.35s; }
.sidebar-login-view form {
  padding: 0 30px; }
.sidebar-login-view .info {
  font-weight: normal;
  color: #646464;
  padding: 0.5em 27px;
  margin: 0; }
.sidebar-login-view .error-msg {
  color: red;
  font-weight: normal; }
.sidebar-login-view .submit-container {
  display: flex;
  align-items: center;
  margin: 1em 0; }
  .sidebar-login-view .submit-container .container {
    margin-left: 1em;
    animation: fadein 0.15s; }
.sidebar-login-view .submit-button {
  appearance: none;
  font-size: 1.3em;
  height: 2em;
  margin-right: 1em;
  border: 2px solid #2d9cdb;
  color: #2d9cdb;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease; }
  .sidebar-login-view .submit-button:active {
    background: #2d9cdb;
    color: white; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 4em;
  padding: 0 15px;
  background: #FAFAFA;
  border-bottom: 1px solid #DDDDDD;
  color: #3c3c3c; }

.header-container {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center; }
  .header-container.center {
    justify-content: center; }
    .header-container.center h3 {
      animation: fadein 0.25s; }
  .header-container.left {
    justify-content: flex-start; }
  .header-container.right {
    justify-content: flex-end;
    color: #2d9cdb; }
    .header-container.right h3 {
      cursor: pointer; }
      .header-container.right h3:active {
        filter: brightness(0.95); }

.menu-icon {
  width: 2.5em;
  height: auto;
  cursor: pointer; }

.header-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 0; }

.welcome-container {
  position: fixed;
  top: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .welcome-container .welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 20em;
    margin-bottom: 20%; }
  .welcome-container.faded img {
    filter: grayscale(1) opacity(0.6); }
  .welcome-container.faded .welcome-title, .welcome-container.faded .message {
    opacity: 0; }
  .welcome-container.faded .message {
    animation: fadein 0.25s; }
  .welcome-container img {
    transition: all 0.2s ease-in-out; }
  .welcome-container .welcome-title {
    animation: welcome-fade-up 2s;
    transition: all 0.2s ease-in-out; }
  .welcome-container .logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 12em;
    width: 12em;
    animation: welcome-fade-up 2s; }
  .welcome-container .logo {
    max-height: 10em;
    position: absolute;
    z-index: 1; }
  .welcome-container .logo-back-1, .welcome-container .logo-back-2 {
    max-height: 8em;
    position: absolute; }
  .welcome-container .logo-back-1 {
    transform: translateY(-1em) translateX(-1.5em);
    animation: logoBackOne 2s; }
  .welcome-container .logo-back-2 {
    transform: translateY(2em) translateX(1.5em);
    animation: logoBackTwo 2s; }
  .welcome-container .loading-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInDelay 1s;
    transition: all 0.2s ease-in-out; }
  .welcome-container .message {
    color: #828282; }
@keyframes fadeInDelay {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes welcome-fade-up {
  0% {
    opacity: 0;
    transform: translateY(50%); } }
@keyframes logoBackOne {
  from {
    transform: translateY(0) translateX(0); }
  100% {
    transform: translateY(-1em) translateX(-1.5em); } }
@keyframes logoBackTwo {
  from {
    transform: translateY(0) translateX(0); }
  100% {
    transform: translateY(2em) translateX(1.5em); } }
.modal {
  z-index: 50;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 35em;
  max-width: 35em;
  margin: auto;
  background: white;
  animation: modal-open 0.35s; }

.modal-cover {
  z-index: 49;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: fadein 0.35s; }

.course-modal .modal-header {
  display: flex;
  padding: 1em 1em 1em 2em;
  color: rgba(0, 0, 0, 0.65); }
.course-modal .modal-title-container {
  flex: 1;
  font-size: 1.3em; }
.course-modal .modal-title {
  margin: 0; }
.course-modal .modal-subtitle {
  font-weight: normal;
  margin: 0.5em 0; }
.course-modal .modal-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.course-modal .modal-close-button {
  margin: 0;
  font-size: 2.5em;
  cursor: pointer;
  text-align: right;
  line-height: 0.7em;
  font-weight: normal; }
.course-modal .unit-count {
  margin: 0; }

@keyframes modal-open {
  0% {
    transform: translateY(10%); } }
.flowchart {
  display: flex;
  flex: 1;
  padding-top: 4em;
  height: calc(100vh - 4em); }
  .flowchart.animate-close .block {
    animation: flowchartClose 0.35s !important; }
  .flowchart.no-scroll .year-container {
    overflow: hidden; }
@keyframes flowchartClose {
  100% {
    transform: translateX(-10%);
    opacity: 0; } }
.year-container {
  position: fixed;
  display: flex;
  top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  animation: fadein 0.35s; }

.year {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 37em;
  border-right: 1px solid rgba(0, 0, 0, 0.12); }
  .year .year-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    margin: 0.4em 0 0.3em 1.4em;
    color: #4F4F4F; }

.quarter-container {
  position: relative;
  display: flex;
  flex: 1;
  padding: 0.5em 2em 0 2em;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.quarter {
  position: relative; }

.quarter-head {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  height: 1em;
  align-items: center;
  justify-content: space-between; }

.quarter-season {
  font-size: 1em;
  margin: 0 0.6em;
  color: #4F4F4F; }

.quarter-units {
  font-size: 0.9em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0.75em; }

.block-container {
  margin-top: 0.5em; }

.block {
  font-family: sans-serif;
  height: 9em;
  width: 10em;
  margin: 10px;
  display: flex;
  text-align: left;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
  animation: block-appear 0.35s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .block:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2); }

.block-contents {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: lightgray;
  padding: 15px;
  border-radius: 4px; }

.block-title {
  font-size: 1.15em;
  margin: 0; }

.block-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 0.8em;
  font-weight: normal; }

.block-units {
  margin: 0; }

@keyframes block-appear {
  0% {
    opacity: 0;
    transform: translateX(10%); } }
.nav-button {
  display: flex;
  margin-left: 1em;
  animation: buttonSlideIn 0.35s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.1s ease; }
  .nav-button.in-form {
    margin: 0;
    border-bottom: none;
    animation: none; }
    .nav-button.in-form:hover {
      background: white; }
  .nav-button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .nav-button h3 {
    font-weight: normal; }

.left-container, .right-container {
  display: flex;
  align-items: center; }

.left-container {
  flex: 1; }

.right-container {
  padding-right: 1em; }

.button {
  background: dodgerblue;
  color: white;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  font-size: 0.875em;
  font-weight: regular;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s ease-in-out; }

@keyframes buttonSlideIn {
  0% {
    opacity: 0;
    transform: translateX(10%); } }
/* Text inputs */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

input:not([type]):disabled, input:not([type])[readonly="readonly"],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly="readonly"],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly="readonly"],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly="readonly"],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly="readonly"],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly="readonly"],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly="readonly"],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly="readonly"],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly="readonly"],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly="readonly"],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
  color: rgba(0, 0, 0, 0.26);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.26); }

input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type=text]:not(.browser-default):disabled + label,
input[type=text]:not(.browser-default)[readonly="readonly"] + label,
input[type=password]:not(.browser-default):disabled + label,
input[type=password]:not(.browser-default)[readonly="readonly"] + label,
input[type=email]:not(.browser-default):disabled + label,
input[type=email]:not(.browser-default)[readonly="readonly"] + label,
input[type=url]:not(.browser-default):disabled + label,
input[type=url]:not(.browser-default)[readonly="readonly"] + label,
input[type=time]:not(.browser-default):disabled + label,
input[type=time]:not(.browser-default)[readonly="readonly"] + label,
input[type=date]:not(.browser-default):disabled + label,
input[type=date]:not(.browser-default)[readonly="readonly"] + label,
input[type=datetime]:not(.browser-default):disabled + label,
input[type=datetime]:not(.browser-default)[readonly="readonly"] + label,
input[type=datetime-local]:not(.browser-default):disabled + label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label,
input[type=tel]:not(.browser-default):disabled + label,
input[type=tel]:not(.browser-default)[readonly="readonly"] + label,
input[type=number]:not(.browser-default):disabled + label,
input[type=number]:not(.browser-default)[readonly="readonly"] + label,
input[type=search]:not(.browser-default):disabled + label,
input[type=search]:not(.browser-default)[readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
  color: rgba(0, 0, 0, 0.26); }

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2d9cdb;
  -webkit-box-shadow: 0 1px 0 0 #2d9cdb;
  box-shadow: 0 1px 0 0 #2d9cdb; }

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2d9cdb; }

input:not([type]).valid, input:not([type]):focus.valid,
input[type=text]:not(.browser-default).valid,
input[type=text]:not(.browser-default):focus.valid,
input[type=password]:not(.browser-default).valid,
input[type=password]:not(.browser-default):focus.valid,
input[type=email]:not(.browser-default).valid,
input[type=email]:not(.browser-default):focus.valid,
input[type=url]:not(.browser-default).valid,
input[type=url]:not(.browser-default):focus.valid,
input[type=time]:not(.browser-default).valid,
input[type=time]:not(.browser-default):focus.valid,
input[type=date]:not(.browser-default).valid,
input[type=date]:not(.browser-default):focus.valid,
input[type=datetime]:not(.browser-default).valid,
input[type=datetime]:not(.browser-default):focus.valid,
input[type=datetime-local]:not(.browser-default).valid,
input[type=datetime-local]:not(.browser-default):focus.valid,
input[type=tel]:not(.browser-default).valid,
input[type=tel]:not(.browser-default):focus.valid,
input[type=number]:not(.browser-default).valid,
input[type=number]:not(.browser-default):focus.valid,
input[type=search]:not(.browser-default).valid,
input[type=search]:not(.browser-default):focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #4CAF50;
  -webkit-box-shadow: 0 1px 0 0 #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50; }

input:not([type]).valid + label:after,
input:not([type]):focus.valid + label:after,
input[type=text]:not(.browser-default).valid + label:after,
input[type=text]:not(.browser-default):focus.valid + label:after,
input[type=password]:not(.browser-default).valid + label:after,
input[type=password]:not(.browser-default):focus.valid + label:after,
input[type=email]:not(.browser-default).valid + label:after,
input[type=email]:not(.browser-default):focus.valid + label:after,
input[type=url]:not(.browser-default).valid + label:after,
input[type=url]:not(.browser-default):focus.valid + label:after,
input[type=time]:not(.browser-default).valid + label:after,
input[type=time]:not(.browser-default):focus.valid + label:after,
input[type=date]:not(.browser-default).valid + label:after,
input[type=date]:not(.browser-default):focus.valid + label:after,
input[type=datetime]:not(.browser-default).valid + label:after,
input[type=datetime]:not(.browser-default):focus.valid + label:after,
input[type=datetime-local]:not(.browser-default).valid + label:after,
input[type=datetime-local]:not(.browser-default):focus.valid + label:after,
input[type=tel]:not(.browser-default).valid + label:after,
input[type=tel]:not(.browser-default):focus.valid + label:after,
input[type=number]:not(.browser-default).valid + label:after,
input[type=number]:not(.browser-default):focus.valid + label:after,
input[type=search]:not(.browser-default).valid + label:after,
input[type=search]:not(.browser-default):focus.valid + label:after,
textarea.materialize-textarea.valid + label:after,
textarea.materialize-textarea:focus.valid + label:after {
  content: attr(data-success);
  color: #4CAF50;
  opacity: 1; }

input:not([type]).invalid, input:not([type]):focus.invalid,
input[type=text]:not(.browser-default).invalid,
input[type=text]:not(.browser-default):focus.invalid,
input[type=password]:not(.browser-default).invalid,
input[type=password]:not(.browser-default):focus.invalid,
input[type=email]:not(.browser-default).invalid,
input[type=email]:not(.browser-default):focus.invalid,
input[type=url]:not(.browser-default).invalid,
input[type=url]:not(.browser-default):focus.invalid,
input[type=time]:not(.browser-default).invalid,
input[type=time]:not(.browser-default):focus.invalid,
input[type=date]:not(.browser-default).invalid,
input[type=date]:not(.browser-default):focus.invalid,
input[type=datetime]:not(.browser-default).invalid,
input[type=datetime]:not(.browser-default):focus.invalid,
input[type=datetime-local]:not(.browser-default).invalid,
input[type=datetime-local]:not(.browser-default):focus.invalid,
input[type=tel]:not(.browser-default).invalid,
input[type=tel]:not(.browser-default):focus.invalid,
input[type=number]:not(.browser-default).invalid,
input[type=number]:not(.browser-default):focus.invalid,
input[type=search]:not(.browser-default).invalid,
input[type=search]:not(.browser-default):focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #F44336;
  -webkit-box-shadow: 0 1px 0 0 #F44336;
  box-shadow: 0 1px 0 0 #F44336; }

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type=text]:not(.browser-default).invalid + label:after,
input[type=text]:not(.browser-default):focus.invalid + label:after,
input[type=password]:not(.browser-default).invalid + label:after,
input[type=password]:not(.browser-default):focus.invalid + label:after,
input[type=email]:not(.browser-default).invalid + label:after,
input[type=email]:not(.browser-default):focus.invalid + label:after,
input[type=url]:not(.browser-default).invalid + label:after,
input[type=url]:not(.browser-default):focus.invalid + label:after,
input[type=time]:not(.browser-default).invalid + label:after,
input[type=time]:not(.browser-default):focus.invalid + label:after,
input[type=date]:not(.browser-default).invalid + label:after,
input[type=date]:not(.browser-default):focus.invalid + label:after,
input[type=datetime]:not(.browser-default).invalid + label:after,
input[type=datetime]:not(.browser-default):focus.invalid + label:after,
input[type=datetime-local]:not(.browser-default).invalid + label:after,
input[type=datetime-local]:not(.browser-default):focus.invalid + label:after,
input[type=tel]:not(.browser-default).invalid + label:after,
input[type=tel]:not(.browser-default):focus.invalid + label:after,
input[type=number]:not(.browser-default).invalid + label:after,
input[type=number]:not(.browser-default):focus.invalid + label:after,
input[type=search]:not(.browser-default).invalid + label:after,
input[type=search]:not(.browser-default):focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1; }

input:not([type]).validate + label,
input[type=text]:not(.browser-default).validate + label,
input[type=password]:not(.browser-default).validate + label,
input[type=email]:not(.browser-default).validate + label,
input[type=url]:not(.browser-default).validate + label,
input[type=time]:not(.browser-default).validate + label,
input[type=date]:not(.browser-default).validate + label,
input[type=datetime]:not(.browser-default).validate + label,
input[type=datetime-local]:not(.browser-default).validate + label,
input[type=tel]:not(.browser-default).validate + label,
input[type=number]:not(.browser-default).validate + label,
input[type=search]:not(.browser-default).validate + label,
textarea.materialize-textarea.validate + label {
  width: 100%;
  pointer-events: none; }

input:not([type]) + label:after,
input[type=text]:not(.browser-default) + label:after,
input[type=password]:not(.browser-default) + label:after,
input[type=email]:not(.browser-default) + label:after,
input[type=url]:not(.browser-default) + label:after,
input[type=time]:not(.browser-default) + label:after,
input[type=date]:not(.browser-default) + label:after,
input[type=datetime]:not(.browser-default) + label:after,
input[type=datetime-local]:not(.browser-default) + label:after,
input[type=tel]:not(.browser-default) + label:after,
input[type=number]:not(.browser-default) + label:after,
input[type=search]:not(.browser-default) + label:after,
textarea.materialize-textarea + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  opacity: 0;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out; }

.input-field {
  position: relative;
  margin-top: 1rem; }

.input-field.inline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; }

.input-field.inline input,
.input-field.inline .select-dropdown {
  margin-bottom: 1rem; }

.input-field.col label {
  left: 0.75rem; }

.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
  width: calc(100% - 3rem - 1.5rem); }

.input-field label {
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  text-align: initial; }

.input-field label:not(.label-icon).active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%); }

.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s; }

.input-field .prefix.active {
  color: #2d9cdb; }

.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .autocomplete-content {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem); }

.input-field .prefix ~ label {
  margin-left: 3rem; }

@media only screen and (max-width: 992px) {
  .input-field .prefix ~ input {
    width: 86%;
    width: calc(100% - 3rem); } }
@media only screen and (max-width: 600px) {
  .input-field .prefix ~ input {
    width: 80%;
    width: calc(100% - 3rem); } }
/* Search Field */
.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem); }

.input-field input[type=search]:focus {
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #444; }

.input-field input[type=search]:focus + label i,
.input-field input[type=search]:focus ~ .mdi-navigation-close,
.input-field input[type=search]:focus ~ .material-icons {
  color: #444; }

.input-field input[type=search] + label {
  left: 1rem; }

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color; }

/* Textarea */
textarea {
  width: 100%;
  height: 3rem;
  background-color: transparent; }

textarea.materialize-textarea {
  overflow-y: hidden;
  /* prevents scroll bar flash */
  padding: .8rem 0 1.6rem 0;
  /* prevents text jump on Enter keypress */
  resize: none;
  min-height: 3rem; }

.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */
  padding-top: 1.2rem;
  /* prevents text jump on Enter keypress */
  position: absolute;
  top: 0; }

/* Autocomplete */
.autocomplete-content {
  margin-top: -20px;
  display: block;
  opacity: 1;
  position: static; }

.autocomplete-content li .highlight {
  color: #444; }

.autocomplete-content li img {
  height: 40px;
  width: 40px;
  margin: 5px 15px; }

/* label color */
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid blue !important; }

/* valid color */
.input-field input.valid {
  border-bottom: 1px solid blue !important;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 #000; }

.input-field.active {
  border-bottom: blue !important; }

/* icon prefix focus color */
.input-field label.active {
  color: blue !important; }

.chart-button {
  display: flex;
  border-left: 0.5em solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.15s ease; }
  .chart-button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .chart-button.active {
    border-left: 0.5em solid #2d9cdb; }
  .chart-button .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; }
  .chart-button .chart-title {
    margin: 16px 0 5px 16px;
    font-family: "Varela Round"; }
  .chart-button .chart-type {
    font-weight: normal;
    margin: 0 0 16px 16px; }
  .chart-button .action-container {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    cursor: pointer;
    transition: all 0.15s ease; }
    .chart-button .action-container:hover {
      background: #f0f0f0; }
      .chart-button .action-container:hover .delete-button {
        color: red; }

.loading-container {
  animation: fadein 0.3s; }

/*# sourceMappingURL=main.css.map */
